.tag-title {
    font-size: 1em;
    color: #5454f8;
    padding-left: 10px
}

.category {
    max-width: 600px;
    margin: 5em auto;
}

.category-list-item {
    font-size: 1.2em;
}

.category-list-count {
    padding-left: 3px;
    color: #999;
}

.category-list-count:before {
    content: "(";
}

.category-list-count:after {
    content: ")";
}